@import '../../styles.scss';

.forgotten-password-modal {
    height: 60vh;
    width: 80%;
    background: #000;
    display:flex;
    flex-direction:row;
    margin:auto;
    color:white;
}

.forgotten-password-modal .welcome {
    background: $color-primary;
    width: 35%;
    padding: 2.5vw 0 0 2.5vw;
}

.forgotten-password-modal .form {
    background: $color-accent-secondary;
    width: 65%;
}


.forgotten-password-modal .welcome .title {
    font-size: 7vh;
    padding-bottom: 5vh;
}

.forgotten-password-modal .welcome button {
    margin-top: 2vh;
}

.forgotten-password-modal .form form.form-container {
    display: flex;
    width: 70%;
    margin:auto;
    margin-top: 15vh;
    flex-direction: row;
    flex-wrap: wrap;
}

.forgotten-password-modal .form form.form-container input.form-input {
    margin:auto;
    margin-top: 0.5vh;
    font-size: 2vh;
    width: 100%;
    padding: 1.4vh;
    border-radius: .5vh;
    border:none;
}

.forgotten-password-modal .form form.form-container input.form-input:not(:first-child) {
    margin-top: 1.2vh;
}

.forgotten-password-modal .form form.form-container input.form-input:hover {
    border-color: $color-secondary;
    transition: border-color .25s ease;
}

.forgotten-password-modal .form .title {
    font-size: 5vh;
    text-align:center;
    margin-top: 2.5vh;
}

.forgotten-password-modal .form form.form-container button {
    background: $color-secondary;
    margin:auto;
    margin-top: 2.5vh;
    font-size: 2vh;
    padding: 1vh 4vh 1vh 4vh; 
}

.forgotten-password-modal .form form.form-container button:hover {
    border-color: $color-secondary;
    box-shadow: 0 0 5px $color-secondary;
    color: $color-bg;
    transition: all .25s ease-out;
}