<app-header></app-header>

<div class="container">
    <div class="forgotten-password-modal">

        <!-- Section d'information -->
        <div class="welcome">
            <p class="title">Bonjour !</p>
            <p>Vous avez retrouvé votre mot de passe?</p>
            <a routerLink="/connexion"><button class="round outline-secondary color-white font-bg">Se connecter</button></a>
        </div>

        <!-- Section de formulaire -->
        <div class="form">
            <p class="title">Mot de passe oublié</p>
            <form class="form-container">
                <input class="form-input" type="email" name="email" placeholder="Votre adresse mail">
                <button class="round outline-secondary">Envoyer un mail</button>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>
