<app-header></app-header>
<div class="container">

    <p class="main-title">Liste des articles</p>

    <div id="article-list" class="cards">

        <div class="article">
            <img src="/assets/header-img.webp" class="thumbnail" alt="Article"/>
            <p class="title">Article</p>
            <p class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet nisi euismod, ullamcorper augue ac, tincidunt nibh. Proin tristique ut eros eu laoreet. Fusce magna nulla, lacinia sit amet rhoncus id, condimentum at quam. Phasellus a cursus tellus, vitae tempus nunc. Vivamus vel metus et ex ornare finibus in.
            </p>
        </div>

        <div class="article">
            <img src="/assets/header-img.webp" class="thumbnail" alt="Article"/>
            <p class="title">Article</p>
            <p class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet nisi euismod, ullamcorper augue ac, tincidunt nibh. Proin tristique ut eros eu laoreet. Fusce magna nulla, lacinia sit amet rhoncus id, condimentum at quam. Phasellus a cursus tellus, vitae tempus nunc. Vivamus vel metus et ex ornare finibus in.
            </p>
        </div>

        <div class="article">
            <img src="/assets/header-img.webp" class="thumbnail" alt="Article"/>
            <p class="title">Article</p>
            <p class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet nisi euismod, ullamcorper augue ac, tincidunt nibh. Proin tristique ut eros eu laoreet. Fusce magna nulla, lacinia sit amet rhoncus id, condimentum at quam. Phasellus a cursus tellus, vitae tempus nunc. Vivamus vel metus et ex ornare finibus in.
            </p>
        </div>

        <div class="article">
            <img src="/assets/header-img.webp" class="thumbnail" alt="Article"/>
            <p class="title">Article</p>
            <p class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet nisi euismod, ullamcorper augue ac, tincidunt nibh. Proin tristique ut eros eu laoreet. Fusce magna nulla, lacinia sit amet rhoncus id, condimentum at quam. Phasellus a cursus tellus, vitae tempus nunc. Vivamus vel metus et ex ornare finibus in.
            </p>
        </div>

        <div class="article">
            <img src="/assets/header-img.webp" class="thumbnail" alt="Article"/>
            <p class="title">Article</p>
            <p class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet nisi euismod, ullamcorper augue ac, tincidunt nibh. Proin tristique ut eros eu laoreet. Fusce magna nulla, lacinia sit amet rhoncus id, condimentum at quam. Phasellus a cursus tellus, vitae tempus nunc. Vivamus vel metus et ex ornare finibus in.
            </p>
        </div>

        <div class="article">
            <img src="/assets/header-img.webp" class="thumbnail" alt="Article"/>
            <p class="title">Article</p>
            <p class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet nisi euismod, ullamcorper augue ac, tincidunt nibh. Proin tristique ut eros eu laoreet. Fusce magna nulla, lacinia sit amet rhoncus id, condimentum at quam. Phasellus a cursus tellus, vitae tempus nunc. Vivamus vel metus et ex ornare finibus in.
            </p>
        </div>


        <div class="article">
            <img src="/assets/header-img.webp" class="thumbnail" alt="Article"/>
            <p class="title">Article</p>
            <p class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet nisi euismod, ullamcorper augue ac, tincidunt nibh. Proin tristique ut eros eu laoreet. Fusce magna nulla, lacinia sit amet rhoncus id, condimentum at quam. Phasellus a cursus tellus, vitae tempus nunc. Vivamus vel metus et ex ornare finibus in.
            </p>
        </div>


        <div class="article">
            <img src="/assets/header-img.webp" class="thumbnail" alt="Article"/>
            <p class="title">Article</p>
            <p class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet nisi euismod, ullamcorper augue ac, tincidunt nibh. Proin tristique ut eros eu laoreet. Fusce magna nulla, lacinia sit amet rhoncus id, condimentum at quam. Phasellus a cursus tellus, vitae tempus nunc. Vivamus vel metus et ex ornare finibus in.
            </p>
        </div>

    </div>

</div>
<app-footer></app-footer>
