<div class="menu-button"><fa-icon [icon]="faBars"></fa-icon></div>
<div class="menu">
    <a routerLink="/"><img class="logo" alt="Logo" src="../../../assets/logo.png"></a>
    <ul>
        <a routerLink="/"><li>Accueil</li></a>
        <a routerLink="/flux-d-actualites"><li>Actualités</li></a>
        <a routerLink="/carte-interactive"><li>Carte</li></a>
        <a routerLink="/quiz"><li>Quiz</li></a>
        <a routerLink="/contact"><li>Contact</li></a>
    </ul>
    <form (ngSubmit)="search()" #createForm="ngForm">
        <input type="text" class="searchbar" [(ngModel)]="searchString" name="searchString" placeholder="Tapez ici pour rechercher...">
        <button class="searchbar-btn"><fa-icon [icon]="faSearch"></fa-icon></button>
    </form>

    <a class="menu-profile" routerLink="/connexion"><fa-icon [icon]="faUser"></fa-icon></a>
</div>
