@import '../../../styles.scss';

/* BASE STYLE */
.menu-button {
    display: none;
    position: fixed;
    right: 1vw;
    top: 1vw;
    width: 5vh;
    height: 5vh;
    background: $color-primary;
    color: #FFF;
    font-size: 3vh;
    line-height: 5vh;
    text-align: center;
    border-radius: 2vw;
}

.menu {
    background: $color-primary;
    color: $color-bg;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 7.5vh;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    align-self: center;
}

.menu img.logo {
    position:absolute;
    left: 1.5vh;
    top: 2vh;
    height: 12vh;
    border: 1px solid $color-primary;
    border-radius: 50%;
}

.menu ul {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    height: 100%;
    gap: 2vw;
    margin:auto;
}

.menu ul li {
    height: 100%;
    line-height: 7.5vh;
    text-transform: uppercase;
    font-size: 2vh;
}

.menu input.searchbar {
    position: absolute;
    top: 30%;
    right: 10%;
    height: 40%;
    width: 20%;
    border: none;
    border-radius: 0.5vh 0 0 0.5vh;
    text-indent: 0.5vh;
    font-size: 1.75vh;
    padding:0;
}

.menu button.searchbar-btn {
    position: absolute;
    top: 30%;
    right: 8%;
    width: 2%;
    height: 40%;
    text-align:center;
    border: none;
    color: $color-bg;
    border-radius: 0 0.5vh 0.5vh 0;
    background: $color-accent;
}

.menu a.menu-profile {
    position: absolute;
    right: 2.5%;
    top: 1.125vh;
    height: 5vh;
    width: 5vh;
    background: $color-accent;
    border-radius: 50%;
    line-height: 5vh;
    font-size: 3vh;
    text-align: center;
}



/* RESPONSIVE STYLES */
@media screen and (max-width: 768px) {
    .menu-button {
        display: block;
    }

    .menu {
        display:none;
        height: auto;
    }

    .menu.responsive {
        display:flex;
    }    

    .menu ul {
        display: none;
    }

    .menu ul.responsive {
        display: flex;

    }
}


/* ANIMATIONS */
.menu-button:focus {
    background: $color-primary-hover;
}

.menu img.logo:hover {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.menu ul li:hover {
    color: $color-secondary;
    cursor: pointer;
    transition: color .2s ease;
}
.menu button.searchbar-btn:hover {
    background: $color-accent-hover;
    cursor: pointer;
    transition: background .2s ease;
}

.menu a.menu-profile:hover {
    background: $color-accent-hover;
    cursor: pointer;
    transition: background .2s ease;
}

@keyframes shake {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(15deg);}
    50% {transform: rotate(-15deg);}
    75% {transform: rotate(15deg);scale: 0.9;}
    100%{scale: 1; transform: rotate(0deg)}
}