<app-header></app-header>

<div class="container">
    <div class="login-modal">

        <!-- Section d'information -->
        <div class="welcome">
            <p class="title">Bonjour !</p>
            <p>Vous n'avez pas encore de compte ?</p>
            <a routerLink="/inscription"><button class="round outline-secondary color-white font-bg">S'inscrire</button></a>
        </div>

        <!-- Section de formulaire -->
        <div class="form">
            <p class="form-title">Se connecter</p>

            <form class="form-container" (ngSubmit)="login()" #createForm="ngForm">
                <div class="form-fieldset">
                    <input class="form-input" type="email" [(ngModel)]="credentials.email" name="email" placeholder="Votre adresse mail">
                </div>
                <div class="form-fieldset">
                    <input class="form-input" type="password" [(ngModel)]="credentials.password" name="password" placeholder="Votre mot de passe">
                </div>
                <button class="form-submit bg-secondary">Se connecter</button>
                <a class="form-link" routerLink="/mot-de-passe-oublie">Mot de passe oublié ?</a>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>
