@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* VARIABLES */
$color-bg: #F0F2F2;
$color-primary: #59372A;
$color-primary-hover: #694638;
$color-secondary: #D96B0B;
$color-accent: #163532;
$color-accent-hover: #234945;
$color-accent-secondary: #735B4D;



/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: inherit;
	text-decoration: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	min-height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* GLOBAL STYLE */
html {
    background: $color-bg;
    color: #000000;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

.container {
    position:relative;
	margin-top: auto;
	top: 2.5vw;
    left: 2.5vw;
    width: 95vw;
    min-height: auto;
	padding-bottom: 10vh;
}

.container .main-title {
	width: 100%;
	font-size: 4.5vh;
	padding-bottom: 2.5vh;
}

button {
	border:none;
	background: $color-primary;
	text-decoration:none;
	padding: 0.5vh;
}

.round {
	border: 0.25vh solid;
	border-radius: 0.5vh;
}

.font-bg {
	color: $color-bg;
}

.outline-secondary {
	border-color: $color-secondary;
}

.outline-secondary:hover {
	border-color: $color-accent;
	cursor: pointer;
	transition: border-color .5s ease;
}

.bg-secondary {
	background: $color-secondary!important;
}

.form {
	padding-top: 2vh;
	background: $color-primary;
	color: $color-bg;
	top:0;
	box-shadow: 0 0 5px #000;
	padding-bottom: 2vh;
}

.form-title {
	display:block;
	padding-top: 3vh;
	font-size: 4vh;
	text-align:center;
	padding-bottom: 3vh;
}

.form-fieldset {
	display:flex;
	width: 90%;
	margin-left: 5%;
	flex-direction: row;
	gap: 1vh;
	flex-wrap: wrap;
}

.form-fieldset:not(:first-child) {
	margin-top: 1vh;
}

.form-input {
	display:inline-block;
	width: auto;
	height: 3vh;
	font-size: 2.3vh;
	border-radius: .5vh;
	border:none;
	transition: all .2s;
	text-indent: 1vw;
	flex: 1;
}

.form-label {
	color: $color-bg;
	line-height: 3vh;
	flex: 1;
	text-align:right;
}


textarea.form-input {
	height: 15vh;
}

.form-input:hover {
	box-shadow: 0 0 15px #fff;
}

.form-submit {
	width: 90%;
	margin-top: 5vh;
	margin-left: 5%;
	font-size: 2.2vh;
	color: $color-bg;
	background: $color-accent;
	border-radius: .5vh;
	cursor: pointer;
	padding: 1vh 4vh 1vh 4vh; 
	transition: all .2s;
}

.form-submit:hover {
	box-shadow: 0 0 15px $color-bg;
}

.form-link {
	display:block;
	margin-top: 0.5vh;
	width:100%;
	text-align:center;
}

.paginator {
	background: $color-primary;
	border-radius: 1vh;
}

button {
	background: $color-secondary;
	color: $color-bg;
	padding: 0.5vw;
	border-radius: 0.5vh;
	transition: all .2s;
}

button:hover {
	cursor:pointer;
	box-shadow: 0 0 1vh $color-secondary;
}

.float-right {
	float: right;
}

.align-center {
	display:block;
	margin: 0 auto;
}

/* CHOIX DES FILTRES */
.filter-modal {
    position:absolute;
    right: 0;
    width: 25%;
    height: auto;
    padding-bottom: 1vh;
    background: $color-primary;
    border: 0.25vh solid $color-accent;
    border-radius: 0.5vh;
}

.filter-modal p.title {
    text-align:center;
    font-size: 2.4vh;
    color: $color-bg;
    line-height: 6vh;
    margin-bottom: 2vh;
    background: $color-accent;
    border-radius: 0.5vh 0.5vh 0 0;
}

span {
	font-weight: bold;
}


html, body { height: 100%; }