
<app-header></app-header>

<body>
    <div>
        <h1 style="text-align: center;">Les Derniers Articles</h1>
    </div>
    <br>
    <div class="articles-container">
        <div class="article">
            <h2>Titre de l'article 1</h2>
            <p>Contenu de l'article 1...</p>
        </div>
        <div class="article">
            <h2>Titre de l'article 2</h2>
            <p>Contenu de l'article 2...</p>
        </div>
        <div class="article">
            <h2>Titre de l'article 3</h2>
            <p>Contenu de l'article 3...</p>
        </div>
    </div>
    <br>
    <button
        style="color: white; background-color: #FFA500; float: right; font-size: 16px; padding: 10px 20px; border-radius: 5px;">afficher
        plus</button>
    <br>
    <div style="text-align: center;">
        <h1>La Carte</h1>
        <div style="display: inline-block; text-align: left; margin-right: 20px;">
            <img src="src/app/home/France.png" alt="Carte de la France">
        </div>

        <div style="display: inline-block; text-align: left;">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                <br>
                Porro nobis unde temporibus optio debitis vero iste alias
                <br>
                voluptatibus eligendi nesciunt aliquam reiciendis tenetur,
                <br>
                doloremque corrupti. Fugiat laborum dolorem harum nobis.
            </p>
            <br>
            <button
                style="color: white; background-color: #FFA500; float: right; font-size: 16px; padding: 10px 20px; border-radius: 5px;">Découvrir</button>
        </div>
    </div>
    <div style="display: flex;">
        <div style="flex: 1;">
            <h1 style="text-align: center;">Le Quizz</h1>
            <br>
            <table class="table" border="1">
                <thead>
                    <tr>
                        <th>Nom Complet</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Doe</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Jane Smith</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Robert Johnson</td>
                        <td>8</td>
                    </tr>
                    <!-- Ajoutez plus de lignes comme nécessaire -->
                </tbody>
            </table>
        </div>
        <div style="flex: 1;">
            <aside>
                <img src="src\app\home\Trophee.jfif" alt="Description de l'image">
            </aside>
        </div>
    </div>
    
    <br>
    <button
        style="color: white; background-color: #FFA500; font-size: 16px; padding: 10px 20px; border-radius: 5px; margin: 0 auto; display: block;">Rejoindre
        l'aventure</button>
    <br>
    <h1 style="text-align: center;">La Frise Chronologique</h1>
    <br>
    <button
    style="color: white; background-color: #FFA500; font-size: 16px; padding: 10px 20px; border-radius: 5px; margin: 0 auto; display: block;"> En apprendre plus 
 </button>
    <footer>
        ici c'est le foot
    </footer>
</body>

</html>