
@import '../../styles.scss';


.register-button {
    margin-top: 5vh;
    background: $color-accent;
    font-size: 2.5vh;
}

.register-button:hover {
    background: $color-accent-hover;
    box-shadow: 0 0 0;
}

.articles-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article {
    width: 30%;
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
}

footer {
    clear: both;
}

.image-container {
    position: relative;
    left: -20%;
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
}

.table {
    margin: 20px auto;
    /* Pour centrer le tableau horizontalement */
}