<app-header></app-header>

<div class="container">
    <h1 style="text-align: center;">Les Derniers Articles</h1>
    <br>
    <div class="articles-container">
        <div class="article" *ngFor="let article of articles.slice(0,3); let i=index">
            <h2 style="font-weight:bold">{{article.title}}</h2>
            <p>{{article.description}}</p>
        </div>
    </div>
    <br>
    <button class="float-right" routerLink="/flux-d-actualites">Liste des articles</button>
    <br>
    <div style="text-align: center;">
        <h1 style="text-align: center;">La Carte</h1>
        <div style="display: inline-block; text-align: left; margin-right: 20px;">
            <img src="../../assets/france.png" alt="Carte de la France">
        </div>

        <div style="display: inline-block; text-align: left;">
            <p>
                Accédez à des centaines de sites archéologiques en quelques clics
            </p>
            <br>
            <button class="float-right" routerLink="/carte-interactive">Découvrir</button>
        </div>
    </div>
    <button class="register-button align-center" routerLink="/inscription">Rejoindre l'aventure</button>
</div>

<app-footer></app-footer>