<app-header></app-header>


<div class="container">
    <div class="register-modal">

        <!-- Section d'information -->
        <div class="welcome">
            <p class="title">Bonjour !</p>
            <p>Vous avez déjà un compte SiteXplore ?</p>
            <button routerLink="/connexion" class="round outline-secondary color-white font-bg">Se connecter</button>
        </div>

        <!-- Section de formulaire -->
        <div class="form">
            <p class="form-title">Créer un compte

            <form class="form-container" (ngSubmit)="register()" #createForm="ngForm">
                <div class="form-fieldset">
                    <input class="form-input" placeholder="Votre prénom" type="text" [(ngModel)]="newData.firstName" name="firstName" required>
                    <input class="form-input" placeholder="Votre nom" type="text" [(ngModel)]="newData.lastName" name="lastName" required>
                </div>
                <div class="form-fieldset">
                    <input class="form-input" placeholder="Votre addresse mail" type="email" [(ngModel)]="newData.email" name="email" required>
                </div>
                <div class="form-fieldset">
                    <input class="form-input" placeholder="Votre mot de passe" type="password" [(ngModel)]="newData.password" name="password" required>
                </div>
                <button class="form-submit bg-secondary" type="submit">S'inscrire</button>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>
