@import '../../styles.scss';

.register-modal {
    height: 60vh;
    width: 80%;
    background: #000;
    display:flex;
    flex-direction:row;
    margin:auto;
    color:white;
}

.register-modal .welcome {
    background: $color-primary;
    width: 35%;
    padding: 2.5vw 0 0 2.5vw;
}

.register-modal .form {
    background: $color-accent-secondary;
    width: 65%;
}


.register-modal .welcome .title {
    font-size: 7vh;
    padding-bottom: 5vh;
}

.register-modal .welcome button {
    margin-top: 2vh;
}

