@import '../../styles.scss';

.register-modal {
    height: 60vh;
    width: 80%;
    background: #000;
    display:flex;
    flex-direction:row;
    margin:auto;
    color:white;
}

.register-modal .welcome {
    background: $color-primary;
    width: 35%;
    padding: 2.5vw 0 0 2.5vw;
}

.register-modal .form {
    background: $color-accent-secondary;
    width: 65%;
}


.register-modal .welcome .title {
    font-size: 7vh;
    padding-bottom: 5vh;
}

.register-modal .welcome button {
    margin-top: 2vh;
}

.register-modal .form form.form-container {
    display: flex;
    width: 70%;
    margin:auto;
    margin-top: 15vh;
    flex-direction: row;
    flex-wrap: wrap;
}

.register-modal .form form.form-container input.form-input {
    margin:auto;
    font-size: 2.3vh;
    padding: 0.3vh;
    width: 100%;
    border-radius: 0.5vh;
    border: 2px solid $color-bg;
    box-shadow: 0 0 5px #000;
}

.register-modal .form form.form-container input.form-input:not(:first-child) {
    margin-top: 1.2vh;
}

.register-modal .form form.form-container input.form-input:hover {
    border-color: $color-secondary;
    transition: border-color .25s ease;
}

.register-modal .form .title {
    font-size: 5vh;
    text-align:center;
    margin-top: 2.5vh;
}

.register-modal .form form.form-container button {
    background: $color-secondary;
    margin:auto;
    margin-top: 2.5vh;
    font-size: 2.5vh;
    box-shadow: 0 0 5px #000;
}

.register-modal .form form.form-container button:hover {
    border-color: $color-secondary;
    box-shadow: 0 0 5px $color-secondary;
    color: $color-bg;
    transition: all .25s ease-out;
}